@model A10.Models.ClassSession

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ClassSession</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="classSessionId" />
            <div class="form-group">
                <label asp-for="fitnessClassId" class="control-label"></label>
                <select asp-for="fitnessClassId" class="form-control" asp-items="ViewBag.fitnessClassId"></select>
                <span asp-validation-for="fitnessClassId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClassSessionStartTime" class="control-label"></label>
                <input asp-for="ClassSessionStartTime" class="form-control" />
                <span asp-validation-for="ClassSessionStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="locationId" class="control-label"></label>
                <select asp-for="locationId" class="form-control" asp-items="ViewBag.locationId"></select>
                <span asp-validation-for="locationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
