@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="col-md-3">
        <img src="~/images/mainimageA.png" alt="photo of some equipment" />
        <br /><br /><br/>
        <img src="~/images/mainimageB.png" alt="photo of fitness class" />
    </div>
    <div class="col-md-6">
        <p class="leader">
            <br/><br/>
            AZIPPY fitness centers are popular with average people and professional athletes residing in the Chicagoland area.  
            <br /><br />
        </p>
        <div class="leadersub">
           
            <p>
                Our health, recreational, and social facilities are geared towards exercise, sports, and other physical activities.   We strive at our fitness centers to accommodate many different types of exercise under one roof.

                </p>
            <p>
                Our locations are equipped with especially-designed machines to provide an assortment of exercises to improve mental capacity, control, balance, flexibility, endurance, breathing, and much more.  
                Our fitness centers include aerobic training that focuses on cardiovascular health with the use of equipment, classes, and workouts. Several of our centers include yoga classes which feature different kinds and styles of exercises for a healthy body and mind.

            </p><p>
                Our facilities include running tracks, racquetball courts, rooms for martial arts, yoga, Pilates, spinning, weight training and regular gym equipment including treadmills, elliptical and cycling machines.

                We are proud of the additional amenities that we provide including saunas, steam rooms, warm-up and cool rooms, showers, locker rooms, childcare services on weekends and weekday mornings, juice bars, and snack bars.
            </p>
            <p>
                Our monthly membership fees start as low as $50 dollars and depend on the services and amenities you choose.  Sign up today and get started on a path to mental and physical fitness, zippy quick!
            </p>
        </div>
           </div>
    <div class="col-md-3">
        <img src="~/images/mainimageC.png" alt="photo of some equipment" />
        <br /><br /><br />
        <img src="~/images/mainimageD.png" alt="photo of fitness class" />
    </div>
</div>
